body {
	text-align: center;	
	background: #ffffff;
}

#navigation {
	float: left;
	clear: both;
}

#html5-pexeso {
	margin-top: 2px;
	font-size: 15pt;
}

#new-game {
	margin-top: 10px;
	margin-bottom: 10px;
	float: right;
}
 
#game {
	float: left;
	width: 100%;
	z-index: 10;
	margin-bottom: 100px;
}

.card {
	width: 10%;
	float: left;
}

.face {
	width: 100px;
	height: 100px;
	margin: 10px 10px 10px 10px;
	background-color: blue;

	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	transition: all .3s;

	border-radius: 10px;
	
	-moz-transition-property: opacity, -moz-transform, -moz-box-shadow;
	-moz-transition-duration: .3s;
	-webkit-transition-property: opacity, -webkit-transform, -webkit-box-shadow;
	-webkit-transition-duration: .3s;
	transition-property: opacity, transform, box-shadow;
	transition-duration: .3s;
	
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	
}

.front {	
	background: #337ab7;
	z-index: 10;
}

.back {
	margin-top: -110px;
	background: #efefef;
	
	-moz-transform: rotate3d(0,1,0,-180deg);
	-webkit-transform: rotate3d(0,1,0,-180deg);
	transform: rotate3d(0,1,0,-180deg);
	
	z-index: 8;
	background: #f0ad4e;
}

.back > .fa {
	line-height: 100px;
	font-size: 400%;
	color: #000;
}

.card:hover .face{
	-webkit-box-shadow: 0 0 20px #aaa;
	box-shadow: 0 0 10px #aaa;
}

.card-flipped .face{
	-webkit-box-shadow: 0 0 20px #aaa;
	box-shadow: 0 0 10px #aaa;		
}
	.card-flipped .front {
		-moz-transform: rotate3d(0,1,0,180deg);
		-webkit-transform: rotate3d(0,1,0,180deg);
		transform: rotate3d(0,1,0,180deg);
		
		z-index: 8;
	}
	
	.card-flipped .back {
		-moz-transform: rotate3d(0,1,0,0deg);
		-webkit-transform: rotate3d(0,1,0,0deg);
		transform: rotate3d(0,1,0,0deg);
		
		z-index: 10;
	}

.card-removed {
	opacity: 0;
}

@media (max-width: 459px) {
  	.card {
		width: 33%;
	}

	.face {
		height: 100px;
		width: 100px;
	}

	.back {
		margin-top: -110px;
	}

	.back > .fa {
		line-height: 100px;
		font-size: 50pt;
	}

	.modal-title {
		font-size: 20pt;
	}

	#new-game,
	#renew-game,
	#game-start {
		font-size: 16pt;	
	}

	#info,
	.modal-content, 
	.badge {
		font-size: 14pt;
	}

	#html5-pexeso {
		margin-top: 5px;
		font-size: 16pt;
	}

	#game {
		margin-bottom: 200px;
	}

	
}

@media (min-width: 430px) {
  	.card {
		width: 25%;
	}

	.face {
		height: 100px;
		width: 100px;
	}

	.back {
		margin-top: -110px;
	}

	.back > .fa {
		line-height: 100px;
		font-size: 50pt;
	}

	.modal-title {
		font-size: 20pt;
	}

	#new-game,
	#renew-game,
	#game-start {
		font-size: 16pt;	
	}

	#info,
	.modal-content, 
	.badge {
		font-size: 14pt;
	}

	#html5-pexeso {
		margin-top: 5px;
		font-size: 16pt;
	}

	#game {
		margin-bottom: 200px;
	}
}

@media (min-width: 580px) {
  	.card {
		width: 20%;
	}

	.face {
		height: 100px;
		width: 100px;
	}

	.back {
		margin-top: -110px;
	}

	.back > .fa {
		line-height: 100px;
		font-size: 50pt;
	}

	.modal-title {
		font-size: 20pt;
	}

	#new-game,
	#renew-game,
	#game-start {
		font-size: 16pt;	
	}

	#info,
	.modal-content, 
	.badge {
		font-size: 14pt;
	}

	#html5-pexeso {
		margin-top: 5px;
		font-size: 16pt;
	}
}

@media (min-width: 730px) {
  	.card {
		width: 16%;
	}

	.face {
		height: 100px;
		width: 100px;
	}

	.back {
		margin-top: -110px;
	}

	.back > .fa {
		line-height: 100px;
		font-size: 50pt;
	}

	.modal-title {
		font-size: 20pt;
	}

	#new-game,
	#renew-game,
	#game-start {
		font-size: 15pt;	
	}

	#info,
	.modal-content, 
	.badge {
		font-size: 13pt;
	}

	#html5-pexeso {
		margin-top: 5px;
		font-size: 16pt;
	}

	#game {
		margin-left: 10px;
		margin-bottom: 100px;
	}
}

@media (min-width: 890px) {
  	.card {
		width: 13%;
	}

	.face {
		height: 100px;
		width: 100px;
	}

	.back {
		margin-top: -110px;
	}

	.back > .fa {
		line-height: 100px;
		font-size: 50pt;
	}

	.modal-title {
		font-size: 20pt;
	}

	#new-game,
	#renew-game,
	#game-start {
		font-size: 14pt;	
	}

	#info,
	.modal-content, 
	.badge {
		font-size: 12pt;
	}

	#html5-pexeso {
		margin-top: 5px;
		font-size: 16pt;
	}

	#game {
		margin-left: 10px;
		margin-bottom: 100px;
	}
}

@media (min-width: 1080px) {
  	.card {
		width: 11%;
	}

	.face {
		height: 100px;
		width: 100px;
	}

	.back {
		margin-top: -110px;
	}

	.back > .fa {
		line-height: 100px;
		font-size: 50pt;
	}

	.modal-title {
		font-size: 20pt;
	}

	#new-game,
	#renew-game,
	#game-start {
		font-size: 100%;	
	}

	#info,
	.modal-content, 
	.badge {
		font-size: 12pt;
	}

	#html5-pexeso {
		margin-top: 5px;
		font-size: 16pt;
	}

	#game {
		margin-left: 10px;
		margin-bottom: 100px;
	}
}

@media (min-width: 1300px) {
  	.card {
		width: 9%;
	}

	.face {
		height: 100px;
		width: 100px;
	}

	.back {
		margin-top: -110px;
	}

	.back > .fa {
		line-height: 100px;
		font-size: 50pt;
	}

	.modal-title {
		font-size: 20pt;
	}

	#new-game,
	#renew-game,
	#game-start {
		font-size: 100%;	
	}

	#info,
	.modal-content, 
	.badge {
		font-size: 12pt;
	}

	#html5-pexeso {
		margin-top: 5px;
		font-size: 16pt;
	}

	#game {
		margin-left: 10px;
		margin-bottom: 100px;
	}
}
